@model List<ApplicationCore.Models.MovieCardModel>
@using Microsoft.VisualBasic
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var movie in Model)
{
    <div>
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
            <img src="@movie.PosterUrl" alt="@movie.Title"></img>
        </a>
    </div>
}